<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/users/login" method="POST">
      <input type="text" name="mail" placeholder="mail" /> <br />
      <input type="password" name="password" placeholder="Contraseña" /> <br />
      <input type="checkbox" name="recuerdame" />
      <label for="recuerdame">recuerdame</label><br />
      <input type="submit" value="Entrar" />
    </form>

    <a href="../users/register"><h2>No tenes user? Registrate!</h2></a>
  </body>
</html>
