<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Binvenido <%= usuario.nombre %></h1>
    <a href="./<%=usuario.id%>/examen"><button>Crear Examen</button></a><br />
  </body>
</html>
